nav {
  background-color: #3330e4;
}

#home {
  background-color: #2fa4ff;
  padding-top: 5em;
  margin-top: 2em;
}

.about {
  background-color: #d9e7fc;
}

.galery {
  background-color: #2fa4ff;
}

.contact {
  background-color: #d9e7fc;
}
